{% extends "admin/change_list.html" %}

{% block result_list %}
    {{ block.super }}

    {% if summary_total is not None %}
    <table class="table">
        <tr style="font-weight: bold;">
            <td colspan="2" style="text-align: right;">Total Price:</td>
            <td>{{ summary_total }}</td>
            <td colspan="1" style="text-align: right;">Total Demo Price:</td>
            <td>{{ summary_demo_total }}</td>
        </tr>
    </table>
    {% endif %}
{% endblock %}
