<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>{{ message }}</h1>
    <table>
      <tr>
        <th>Car ID</th>
        <th>Car Type</th>
        <th>Car Name</th>
      </tr>
        {% for car in data %}
      <tr>
        <td>{{ car.id }}</td>
        <td>{{ car.type_name }}</td>
        <td>{{ car.car_name }}</td>
      </tr>
        {% endfor %}
    </table>
</body>
</html>